@tailwind base;
@tailwind components;
@tailwind utilities;


.cont{
  
    background: #780206;
    background: linear-gradient(
      to right,
      #200001,#000321, #000
    );
  
    background-size: 300% 300%;
    position: relative;
    animation: color 12s ease-in-out infinite;
    
  
  }
  
  .contLigth{
    background: #e0777b;
    background: linear-gradient(
      to right,
      #f5cacb,#7fc3f1, #ffffff
    );
  
    background-size: 300% 300%;
    position: relative;
    animation: color 12s ease-in-out infinite;
  }
  
  @keyframes color {
    
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }
  
  
